{% extends 'layouts.html' %}
{% block body %}
<div class="main-container">
<!-- horizontal Basic Forms Start -->
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Writing Lists Board</h4>
            <p class="mb-30">Input your Words !!</p>
        </div>
        
    </div>
    <form action="/add_articles" method="POST" onsubmit="return confirm('이데로 작성하시겠읍니까?')">
        <div class="form-group">
            <label>TITLE</label>
            <input class="form-control" type="text" name='Title' placeholder="input your title" required>
        </div>
        
        
        <div class="form-group">
            <label>DESCRIPTON</label>
            <textarea class="form-control" name="Desc" placeholder="input your description" required></textarea>
        </div>
        <div class="form-group">
            <label>AUHOR</label>
            <input type="text" name='Author' class="form-control" placeholder="input your name" required>
            
        </div>
        <div class="form-group">
            <input class="btn btn-warning btn-lg btn-block" type="submit" value="작성완료" >
        </div>
        <div class="form-group">
            <a class="btn btn-primary btn-lg btn-block" href="/articles"> 돌아가기</a>
            
        </div>
    </form>
    
</div>

<!-- horizontal Basic Forms End -->
</div>
{% endblock %}