{% extends 'layout.html'%}
{% block body %}
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
    <table class="table" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DETAIL</th>
        <th>AUTHOR</th>
        <th>DATE</th>
        <th>EDIT</th>
    </tr>
    </thead>
    <tbody>
        <th>{{article[0]}}</th>
        <td>{{article[1]}}</td>
        <td>{{article[2]}}</td>
        <td>{{article[3]}}</td>
        <td>{{article[4]}}</td>
        <td><form action="/articles/edit/{{article[0]}}" method="GET">
            <button type="submit" class = "btn btn-success">EDIT</button>
            </form>
        </td>
    </tbody>
    </table>
    <a class="btn btn-success btn-lg" href="/" role="button">Home</a>
    <a class="btn btn-success btn-lg" href="/articles" role="button">Prev</a>
{% endblock %} 