<!DOCTYPE html>
<!-- 웹응용프로그래밍 059분반
     학번 : 201524582
     이름 : 정희석
     중간고사 3번 문제 풀기 HTML파일-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Problem 03</title>
    <!--<link rel="stylesheet" href="Prob03.css" type="text/css" />-->
    <script src="{{url_for('static', filename='Question.js')}}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div id="Container">
        <input id="NewProb" type="button" value="문제 생성 " />
        <input id="LoadProb" type="button" value="전체 문제 출력" />
        <div id="Create" style="display:none">
            <form style="text-align:center">
                <p>
                    문제 번호 :
                    <input id="ProbNum" type="number" min="1" required />
                </p>
                <p>
                    문제 내용 :
                </p>
                <textarea id="ProbText" rows="4" cols="50" required></textarea>
                <p>
                    선택문항1 :
                    <input id="ProbSel1" type="text" required />
                </p>
                <p>
                    선택문항2 :
                    <input id="ProbSel2" type="text" required />
                </p>
                <p>
                    선택문항3 :
                    <input id="ProbSel3" type="text" required />
                </p>
                <p>
                    선택문항4 :
                    <input id="ProbSel4" type="text" required />
                </p>
                <p>
                    선택문항5 :
                    <input id="ProbSel5" type="text" required />
                </p>
                <p>
                    정답 문항 :
                    <input id="ProbAns" type="number" min="1" max="5" required />
                </p>
                <p>
                    간단 설명 :
                </p>
                <textarea id="ProbSimp" rows="4" cols="50" required></textarea>
                <br>
                <input id="saveButton" type="button" value="문제 저장">
            </form>
        </div>
    </div>
    <div id="DisplayList" style="text-align:left"></div><!-- Create From JavaScript -->
    <div id="DisplayProb" style="text-align:center"></div> <!-- Create From JavaScript -->
</body>
</html>

<!--
1. 각 input을 받아서 JSON으로 변환(Store) -> LocalStorage에 저장(Tag : Problem+ProbNum)
2. 문제 번호와 간단한 설명 내용을 표시 -> 어디에? -> DisplayList에!
    -> 그리고 밑에 1.편집 버튼 2.문제 삭제 3.문제 풀기 버튼 생성
    편집 버튼 -> LocalStorage에서 JSON 호출-> 호출하고 원래 JSON삭제
        -> 각 내용을 각 id에 해당하는 input form에 호출
    삭제 버튼 -> LocalStorage의 removeItem을 사용
    풀기 버튼 -> LocalStorage에서 JSON 호출 -> innerHTML로 DisplayProb에 출력
3. 문제 전체 출력 -> LocalStorage에 저장된 모든 JSON 호출 -> innerHTML로 DisplayProb에 출력

-->
